*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style:none;
  font-family: 'Open Sans', sans-serif;
}
.icon{
  filter: invert(1);
}
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.fade-in {
  animation: fadeIn 0.5s ease-out;
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}
svg{
  margin-right: 20px;
}
.icono{
  font-size: 20px;
  color: white;
}
header{
  width: 100%;
  height: 80px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #631878;
  z-index: 200;
  position: relative;
  top: -20px;
}
/* Agrega estas clases en tu archivo CSS */
.usuarioNotificacion {
position: relative;
display: flex;
align-items: center;
}

.usuarioInfoContainer {
display: flex;
align-items: center;
justify-content: space-around;
width: 250px;
position: relative;
left: 200px;
}

.boton-cerrar-sesion {
background-color: #631878; 
color: #fff; 
padding: 10px 15px; 
border: none;
border-radius: 5px; 
cursor: pointer;
width: 200px;
transition: background-color 0.3s ease; 
z-index: 1;
position: absolute;
top: 35px;
right: 80px;
opacity: 0; /* Inicialmente oculto */
pointer-events: none; /* No es interactivo inicialmente */
}
.usuarioNotificacion:hover .boton-cerrar-sesion {
opacity: 1; /* Mostrar el botón al pasar el ratón sobre el contenedor */
pointer-events: auto; /* Hacerlo interactivo al pasar el ratón */
}

.boton-cerrar-sesion:hover {
background-color: #631878; 
}

.redes-header i{
  font-size: 20px;
  margin-left: 20px;
}
.usuarioNotificacion{
  display: flex;
  align-items: center;
  position: relative;
}
.usuarioNotificacion p{
  margin-left: 10px;
}
.buscador{
  border-radius: 20px;
  height: 30px;
  border-color: #631878;
}
.usuarioNotificacion img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid;
}
i:hover {-webkit-transform:scale(0.7);transform:scale(0.7);}
i{overflow:hidden;}
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}

.icon__menu{
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(50px);
}
.closeHeader svg{
  font-size: 30px;
  transform: translateX(50px);
  position: relative;
}
.contacnails{
  margin-right: 50px;
}
.text{
  margin-top: -3px;
}
.clone{
  margin-top: -4px;
}

.icon__menu svg{
  font-size: 20px;
  cursor: pointer;
  position: absolute;
}

.menu__side{
  width: 80px;
  height: 100%;
  background: #631878;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  border-right: 20px solid #631878;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
  display: none;
}
#manicuristaBorder{
  background: rgb(92, 89, 89);
  border-radius: 10px;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.name__page{
  padding: 20px 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.name__page i{
  width: 20px;
  margin-right: 20px;
}
.name__page img{
  height: 80px;
  position: relative;
  right: 30px;
}

.options__menu{
  padding: 20px 30px;
  position: absolute;
  top: 80px;
}

.options__menu a{
  color: #ffffffb2;
  cursor: default;
  display: block;
  position: relative;
  transition: color 300ms;
}

.options__menu a:hover{
  color: white;
}
.CategotiasHeader{
  border-bottom: 2px solid white;
}

.options__menu .option{
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.options__menu .option i{
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.options__menu .option h4{
  font-weight: 300;
  cursor: pointer;
}

a.selected{
  color: #fff;
}
.body_move{
  margin-left: 250px;
}

.menu__side_move{
  width: 250px;
}

.animacionBtn {
  width: 140px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: #fff;
  background: none;
  position: relative;
  padding-bottom: 2em;
}

.animacionBtn > div,.animacionBtn > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.animacionBtn:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

.animacionBtn:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.animacionBtn .clone > *,.animacionBtn .text > * {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px;
}

.animacionBtn .clone > * {
  transform: translateY(60px);
}

.animacionBtn:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.animacionBtn:hover .text > * {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.animacionBtn:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

.animacionBtn:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

.animacionBtn:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}

.animacionBtn:hover .clone > :nth-child(4) {
  transition-delay: 0.3s;
}
/* icon style and hover */
.animacionBtn svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

.animacionBtn:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}
.contenedorDatosHeader{
  display: flex;
  justify-content:center space-around;
  flex-direction: column;
  margin-top: 60px;
}
.IniciaSecionHeader{
  display: flex;
  margin-bottom: 20px;
}
@media screen and (max-width: 760px){
  .body_move{
      margin-left: 0px;
  }
  header{
      width: 100%;
      
  }

  .menu__side_move{
      width: 80px;
      left: -80px;
  }
}
@media only screen and (max-width: 600px) {
body {
  font-size: 14px;
}

header {
  height: 60px;
  display: flex;
  justify-content: center ;
  align-items: center;
}
.saludo{
  font-size: 10px;
  margin-top: 30px;
  position: relative;
  right: 60px;
}
.saludo span{
  display: none;
}
.icon__menu{
  position: relative;
  right: 100px;
}
.saludo h1{
  width: 300px;
  position: relative;
  top: -5px;
}
.form{
  display: none;
}
.menu__side {
  width: 250px;
  font-size: 16px;
  border-right: 10px solid #631878;
}

.menu__side_move {
  width: 60px;
  left: -60px;
}

.body_move {
  margin-left: 0;
}
}

.modal{
  position: fixed;
  top:100px;
  left:900px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}
.modal-body {
background-color: white;
display: flex;
align-items: center;
justify-content: center;
background-image: url('../../assets/img/img.jpg');
background-size: cover; 
background-position: center; 
padding-bottom: 30px;
}
.contenedorAtributos{
  margin-top: 50px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5); /* Blanco semi-transparente */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.contenedorAtributos img{
  border-radius: 50%;
  width: 80px;
  background: #8b8ba7;
  height: 80px;
  position: relative;
  top: -30px;
}
.modal-header {
  background-color: #631878;
  color: #fff;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.users{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  left: 50px;
  height: 80px;
  width: 80px;
}

button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
 }
 
 .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
     to left,
     hsla(300, 69%, 26%, 0.685) 0%,
     hsl(305, 50%, 28%) 8%,
     hsl(305, 26%, 41%) 92%,
     hsl(310, 68%, 21%) 100%
   );
 }
 
 .front {
  display: block;
  position: relative;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: #631878;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 button:hover {
  filter: brightness(110%);
 }
 
 button:hover .front {
  transform: translateY(-6px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
 }
 
 button:hover .shadow {
  transform: translateY(4px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
 }
 
 button:focus:not(:focus-visible) {
  outline: none;
 }
 .precio{
  display: flex;
  height: 30px;
  align-items: center;
  margin-top: 20px;
 }
 .input-container {
  position: relative;
  display: flex;
  align-items: center;
} 
.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-container {
  width: calc(48% - 10px);
  display: flex;
  flex-direction: column;
  width: 150px;
}

.input-container label {
  margin-bottom: 5px;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #a14bb9;
  outline: 0;
  font-size: 17px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #a14bb9;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #85339c, #a14bb9);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #a14bb9;;
  font-weight: 700;
}

/* reset input usuarioNotificacion */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.button-container {
  text-align: end;
  margin-right: 30px;
}

.py-3 {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-image: linear-gradient(135deg, rgb(217, 105, 255) 0%, rgb(190, 10, 255) 100%);
}
.selected-file-name {
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: 20px;
  color: #631878;
}
.input-container{
  width: 200px;
  padding-bottom: 10px;
}
.verPerfil{
  cursor: pointer;
}
.contenedorImg{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
}
  
  .custom-file-upload {
    border: 2px solid #a14bb9;
    color: #a14bb9;
    background-color: transparent; 
    font-size: 16px;
    cursor: pointer; 
    border-radius: 5px; 
    transition: all 0.3s ease; 
  }
  
  .custom-file-upload:hover {
    background-color: #a14bb9; 
    color: white; 
  }
  .conenedorEdit{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }
    header{
        width: 100%;
        
    }
  
    .menu__side_move{
        width: 80px;
        left: -80px;
    }
  }
  @media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
    .saludo{
      position: relative;
      left: 150px;
    }
    .usuarioInfoContainer .NombreUsu{
      display: none;
    } 
    .usuarioNotificacion{
      position: relative;
      right: 100px;
    }
    header {
      height: 60px;
      display: flex;
      justify-content: center ;
      align-items: center;
      width: 100%;
    }
    .icon__menu{
      position: relative;
      left: 50px;
    }
    .icon__menu{
      display: none;
    }
    .menu__side{
      display: none;
    }

    .icon__menu{
      position: relative;
      right: 100px;
    }
    .saludo h1{
      width: 300px;
      position: relative;
      top: -5px;
    }
    .form{
      display: none;
    }
    .menu__side {
      width: 250px;
      font-size: 16px;
      border-right: 10px solid #631878;
    }
    
    .menu__side_move {
      width: 60px;
      left: -60px;
    }
  }