.todo{
    background: url('../../assets/img/img.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -40px;
    display: grid;
    place-items: center;
    margin-bottom: -90px;    
    padding-bottom: 23px;                                              
}

.registro-cuadro {
    width: 350px;
    height: 400px;
    margin-top: 70px;
    padding: 40px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5); /* Blanco semi-transparente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group {
    position: relative;
    margin-top: 20px;
    top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #631878;
    background: transparent;
   }
   
   .input:focus {
    outline: none;
   }
   
   .label {
    color: #63187886;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 70px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input:focus ~ .label, .input:valid ~ .label {
    top: -20px;
    font-size: 14px;
    color: #631878;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 200px;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #631878;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }
button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsla(300, 69%, 26%, 0.685) 0%,
       hsl(305, 50%, 28%) 8%,
       hsl(305, 26%, 41%) 92%,
       hsl(310, 68%, 21%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #631878;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }

h2{
    text-align: center;
    font-size: 30px;
}
.hojaDeVida{
    display:flex ;
    justify-content: center;
    flex-direction: column;
}
.aceptacion-Privacidad{
    display:flex ;
    justify-content: center;
    margin-top: -25px;
    padding-bottom: 8px;
}
.aceptacion-Privacidad input{
    height: 22px;
    width: 20px;
}