<!-- En el archivo agendacion-citas.component.html -->
<app-header></app-header>
<div class="contenedorAgendacion">
  <h1>Agenda tu cita</h1>
  <div *ngIf="usuarioInfo">
    <p>{{ usuarioInfo.nombre }} {{ usuarioInfo.apellido }}</p>
  </div>
  <div class="contenedorH">
    <div class="contenedorOpciones">
      <div (click)="mostrarNuevaCita()">
        <i class="fa-regular fa-calendar"></i>
        <span>Nueva cita</span>
      </div>
      <div (click)="mostrarGestionCitas()">
        <i class="fa-solid fa-calendar-days"></i>
        <span>Gestión de citas</span>
      </div>
      <div (click)="mostrarHistorial()">
        <i class="fa-solid fa-clock-rotate-left"></i>
        <span>Historial</span>
      </div>
      <div (click)="mostrarFavoritos()">
        <i class="fa-regular fa-heart"></i>
        <span>Favoritos</span>
      </div>
    </div>
    <div class="contenido-dinamico">
      <!-- Mostrar componente según la opción seleccionada -->
      <app-opciones-manicura *ngIf="mostrarOpcionesManicura"></app-opciones-manicura>
      <app-seleccionar-horario *ngIf="mostrarSeleccionHorario"></app-seleccionar-horario>
    </div>
    <!-- Botones para mostrar las opciones de manicura y horario -->
    <button (click)="mostrarSeleccionHorario = true" class="botonCambio">siguiente</button>
  </div>
</div>
