<!-- En el archivo seleccionar-horario.component.html -->
<div class="horarios">
    <div class="horario">
      <span>Lunes - 8-10am</span>
    </div>
    <div  class="horario">
      <span>Martes - 10-12pm</span>
    </div>
    <div  class="horario">
      <span>Miércoles - 2-4pm</span>
    </div>
    <div  class="horario">
      <span>Jueves - 4-6pm</span>
    </div>
    <div  class="horario">
      <span>Viernes - 8-10am</span>
    </div>
    <div  class="horario">
        <span>Sabado - 8-10am</span>
    </div>  
</div>
  