

    <h1>ESTILOS DE UÑAS</h1>

    <div class="gallery">
        <div class="image">
            <a href="Año Nuevo/index.html"><img src="img/Estilos-Año Nuevo.jpg" alt="Imagen 1"></a>
            <h2>AÑO NUEVO</h2>
        </div>
    </div>

    <div class="gallery">
        <div class="image2">
            <a href="Halloween/indes.html"><img src="img/Estilos-Halloween.jpg" alt="Imagen 2"></a>
            <h2>HALLOWEEN</h2>
        </div>
    </div>

    <div class="gallery">
        <div class="image3">
            <a href="Navidad/Index.html"><img src="img/Estilos-Navidad.jpg" alt="Imagen 3"></a>
            <h2>NAVIDAD</h2>
        </div>
    </div>

    <div class="gallery">
        <div class="image4">
            <a href="San valentin/Index.html"><img src="img/Estilos-San valentin.jpg" alt="Imagen4"></a>
            <h2>SAN VALENTIN</h2>
        </div>
    </div>

    <div class="gallery">
        <div class="image5">
            <a href="Verano/Index.html"><img src="img/Estilos-Verano.jpg" alt="Imagen5"></a>
            <h2>VERANO</h2>
        </div>
    </div>

    <div class="gallery">
        <div class="image6">
            <a href="Normales/index.html"><img src="img/Estilos-Normales.jpg" alt="Imagen6"></a>
            <h2>NORMALES</h2>
        </div>
    </div>

    <div class="gallery">
        <div class="image7">
            <a href="Extravagantes/index.html"><img src="img/Estilos-Extravagantes.jpg" alt="Imagen7"></a>
            <h2>EXTRAVAGANTES</h2>
        </div>
    </div>

    <div class="gallery">
        <div class="image8">
            <a href="Brillantes/index.html"><img src="img/Estilos-Brillantes.jpg" alt="Imagen8"></a>
            <h2>BRILLANTES</h2>
        </div>
    </div>
