<app-header></app-header>
<div class="wrapper">
    <div class="background"></div>
    <div class="card-switch">
        <label class="switch">
            <input type="checkbox" class="toggle">
            <span class="slider"></span>
            <span class="card-side"></span>
            <div class="flip-card__inner">
                <div class="flip-card__front">
                    <div class="title">inicia sesion</div>
                    <!-- login.component.html -->
                    <form class="flip-card__form" (ngSubmit)="iniciarSesion()">
                    <input class="flip-card__input" name="email" placeholder="Email" [(ngModel)]="usuarioLg.email" type="email" required>
                    <input class="flip-card__input" name="password" placeholder="Contraseña" [(ngModel)]="usuarioLg.contrasena" type="password" required>
                    <button class="flip-card__btn" type="submit">Inicia Sesión</button>
                    </form>
                </div>
                <div class="flip-card__back">
                    <div class="title">Registrate</div>
                    <form class="flip-card__form" (ngSubmit)="registrarUsuario()">
                        <input class="flip-card__input" placeholder="Nombres" type="text" name="nombre" [(ngModel)]="usuario.nombre" required>
                        <input class="flip-card__input" placeholder="Apellidos" type="text" name="apellido" [(ngModel)]="usuario.apellido" required>
                        <input class="flip-card__input" name="email" placeholder="Email" type="email" [(ngModel)]="usuario.email" required>
                        <input class="flip-card__input" name="password" placeholder="Contraseña" type="password" [(ngModel)]="usuario.contrasena" required>
                        <div *ngIf="usuario.contrasena.length < 8" class="password-message">
                          La contraseña debe tener al menos 8 caracteres.
                        </div>
                        <button class="flip-card__btn" type="submit">Registrate</button>
                      </form>                                       
                </div>
            </div>
        </label>
    </div>
</div>
