<app-header></app-header>
<!--ESTE es el codigo de el slider-->
<div *ngIf="(auth.isClienteStatus() | async) || (auth.isAdminStatus() | async) || (auth.isLoggedIn() | async) === false">
<section class="testimony">
    <div class="testimony__container container">
        <img [src]="'./assets/img/' + imagenes[0]" class="testimony__arrow" id="before" (click)="onBeforeButtonClick()">

        <section class="testimony__body" *ngFor="let manicurista of manicuristas; let i = index" [class.testimony__body--show]="i + 1 === value">
            <div class="testimony__texts">
                <h2 class="subtitle">Mi nombre es {{manicurista?.nombre}}, <span class="testimony__course">Manicurista
                        de Nails Art.</span></h2>
                <p class="testimony__review">{{manicurista?.descripcion}}</p>
            </div>

            <figure class="testimony__picture">
                <img [src]="manicurista?.fotoManicurista" alt="" class="testimony__img">
            </figure>
        </section>

        <section class="testimony__body" *ngFor="let manicurista of manicuristas; let i = index" [class.testimony__body--show]="i + 1 === value">
            <div class="testimony__texts">
                <h2 class="subtitle">Mi nombre es {{manicurista?.nombre}}, <span class="testimony__course">Manicurista
                        de Nails Art.</span></h2>
                <p class="testimony__review">{{manicurista?.descripcion}}</p>
            </div>

            <figure class="testimony__picture">
                <img [src]="manicurista?.fotoManicurista" alt="" class="testimony__img">
            </figure>
        </section>
        <section class="testimony__body" *ngFor="let manicurista of manicuristas; let i = index" [class.testimony__body--show]="i + 1 === value">
            <div class="testimony__texts">
                <h2 class="subtitle">Mi nombre es {{manicurista?.nombre}}, <span class="testimony__course">Manicurista
                        de Nails Art.</span></h2>
                <p class="testimony__review">{{manicurista?.descripcion}}</p>
            </div>

            <figure class="testimony__picture">
                <img [src]="manicurista?.fotoManicurista" alt="" class="testimony__img">
            </figure>
        </section>

        <section class="testimony__body" *ngFor="let manicurista of manicuristas; let i = index" [class.testimony__body--show]="i + 1 === value">
            <div class="testimony__texts">
                <h2 class="subtitle">Mi nombre es {{manicurista?.nombre}}, <span class="testimony__course">Manicurista
                        de Nails Art.</span></h2>
                <p class="testimony__review">{{manicurista?.descripcion}}</p>
            </div>

            <figure class="testimony__picture">
                <img [src]="manicurista?.fotoManicurista" alt="" class="testimony__img">
            </figure>
        </section>
        <img [src]="'./assets/img/' + imagenes[1]" class="testimony__arrow" id="next" (click)="onNextButtonClick()">
    </div>
</section>
<!--ESTE es el codigo de las tarjetas-->
<section class="nosotros">
    <div class="container__card">
        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(https://sevilla.abc.es/estilo/bulevarsur/wp-content/uploads/sites/14/2021/06/tendencias-unas-verano-2021-e1624129720213.jpeg);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Contactanos</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h1>Contactanos</h1>
                        <p>siguenos en nuestras redes sociales y esten pendientes para todas las promociones que tenemos</p>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(https://hips.hearstapps.com/hmg-prod/images/manicura-con-ondas-1622543972.jpg?crop=1.00xw:0.804xh;0,0.163xh&resize=1200:*);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Servicios</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h1>Servicios</h1>
                        <p>contamos con manicure pedicura en tradicional, semipermanente, acrilicas, poligel, presson, encapsulado, recubrimiento de acrilicas, recubrimiento en gel, </p>
                        <input class="trabajaConNosotros" type="button" [routerLink]="['/Login']" value="registrate como usuario">
                    </div>
                </div>
            </div>
        </div>

        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(https://staticnew-prod.topdoctors.com.ar/article/7516/image/large/unas-de-acrilico-belleza-y-moda-vs-salud-1628705692.jpg);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Trabaja con nosotros</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h1>¿Quieres trabajar con nosotros?</h1>
                        <p>Si quires trabajar con nosotros registrate en REGISTRO EMPLEADO tenemos muchos veneficios para ti cumplimos con todas las expectativas para ti como emplead@</p>
                        <input class="trabajaConNosotros" type="button" [routerLink]="['/contacto']" value="registrate como empleado">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<section *ngIf="(auth.isManicuristaStatus() | async)">
    <div class="contenedorManicuristaUsers">
      <h2>Bienvenid@ {{ manicurista.nombre }}</h2>
      <div class="contenedorAtributosManicurista">
        <img [src]="manicurista.fotoUsuario" [alt]="'foto ' + manicurista.nombre">
        <p><span>Nombre: {{ manicurista.nombre }}</span></p>
        <p><span>Apellido: {{ manicurista.apellido }}</span></p>
        <p><span>Correo: {{ manicurista.email }}</span></p>
      </div>
    </div>
    <app-calendario-manicurista [showHeader]="false"></app-calendario-manicurista>
</section>
<app-header-responsive></app-header-responsive>
<app-footer></app-footer>
