<app-header></app-header>
<h1 class="title">Necesitas ayuda?</h1>
<section class="ContenedorPadre">
    <div class="contenerdor_cards">
        <div class="header">
            <p>guia de agendacion de citas</p>
        </div>
        <div class="main">
            <!-- En tu plantilla HTML -->
            <video width="640" height="360" controls>
                <source src="../../assets/img/videos/Agendacion de cita.webm" type="video/mp4">
                Tu navegador no soporta el elemento de video.
            </video>
        </div>
    </div>
    <div class="contenerdor_cards">
        <div class="header">
            <p>guia para contactarnos</p>
        </div>
            <div class="main">
                <video width="640" height="360" controls>
                    <source src="../../assets/img/videos/contactarnos.webm" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
        </div>
    </div>
    <div class="contenerdor_cards">
        <div class="header">
            <p>guia para registrarse</p>
        </div>
            <div class="main">
                <video width="640" height="360" controls>
                    <source src="../../assets/img/videos/como registrarse.webm" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
        </div>
    </div>
</section>