.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContenedorPadre {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples líneas si no caben */
    margin-left: 20px;
    justify-content: space-around;
}

.contenerdor_cards {
    width: calc(33.33% - 40px); /* Ajustar el ancho de cada tarjeta para que quepa en dispositivos de tamaño variable */
    max-width: 300px; /* Establecer un ancho máximo para mantener la consistencia */
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.header {
    background: #631878;
    width: 100%;
    border-bottom: none;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    padding: 10px; 
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    width: 100%; /* Ajustar el ancho del video al 100% del contenedor */
    border-radius: 20px;
}

p {
    font-size: 20px;
}

/* Media queries para dispositivos móviles y tabletas */
@media screen and (max-width: 768px) {
    .contenerdor_cards {
        width: calc(50% - 40px); /* Ajustar el ancho de cada tarjeta para dispositivos más pequeños */
    }
}

@media screen and (max-width: 480px) {
    .contenerdor_cards {
        width: calc(100% - 40px); /* Ajustar el ancho de cada tarjeta para dispositivos móviles pequeños */
    }
}
