.e-card {
  margin: 100px auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 240px;
  height: 330px;
  border-radius: 16px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
}

.icon {
  width: 7em;
  margin-top: -5em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

.pasarela{
  text-decoration: none;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
  .contenerdor-opciones{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  }
  
  .fila {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distribuye uniformemente los elementos en la fila */
  }
#manicuristasContainer {
  margin-top: 20PX;
  max-height: 200px; 
  overflow-y: auto; 
  border: 2px solid #631878; 
  border-radius: 10px; 
  padding: 10px; 
  margin-bottom: 15px; 
  width: 200px;
}

#manicuristasTitle {
  font-size: 18px;
  font-weight: bold;
  color: #631878; 
  margin-bottom: 10px; 
}
#manicuristasList {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}

#manicuristasList li {
  font-size: 14px;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ccc; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
#manicuristasList li i {
  margin-left: 10px;
}
#manicuristasList .seleccionada {
  color: white;
  background-color: #631878;
}
.opcionesMoP .seleccionada {
  color: white;
  background-color: #631878;
}

#manicuristasList li:last-child {
  border-bottom: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container{
  background-color: #fff;
  width: 900px;
  border-radius: 8px;
  padding-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
  background-color: #631878;
  color: #fff;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  cursor: pointer;
}

.opcionesMoP{
  display: flex;
  align-items: center;
}
.opcionesMoP div{
  display: flex;
  height: 150px;
  width: 150px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border:1px #631878 solid;
  margin-left: 20px;
  border-radius: 20px;
}
.opcionesMoP img{
  width: 7em;
}
/* ... (resto de tu código) */

.opcionesMoP div {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.opcionesMoP div.seleccionada {
  background-color: #631878;
  color: #fff;
}

.modal-content{
  display: flex;
  justify-content: space-around;
}
.button {
  position: relative;
  padding: 15px 45px;
  background: #FEC195;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 1px solid #FEC195;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
}

.button:hover {
  border: 1px solid #f3b182;
  background: linear-gradient(85deg, #FEC195, #fcc196, #fabd92, #fac097, #fac39c);
  animation: wind 2s ease-in-out infinite;
}

@keyframes wind {
  0% {
    background-position: 0% 50%;
  }

  0% {
    background-position: 50% 100%;
  }

  0% {
    background-position: 0% 50%;
  }
}

.icon-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  transform-origin: 0 0;
  transform: rotate(10deg);
  transition: all .5s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
}

.button:hover .icon-1 {
  animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
  transform: rotate(10deg);
}

@keyframes slay-1 {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.icon-2 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 12px;
  transform-origin: 50% 0;
  transform: rotate(10deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

.button:hover .icon-2 {
  animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0);
  }
}

.icon-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  transform-origin: 50% 0;
  transform: rotate(-5deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

.button:hover .icon-3 {
  animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

.py-3 {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-image: linear-gradient(135deg, rgb(217, 105, 255) 0%, rgb(190, 10, 255) 100%);
}



@keyframes slay-3 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

/*animacion del boton de favorito*/ 
.heart-container {
  --heart-color: rgb(255, 91, 137);
  position: relative;
  width: 20px;
  height: 20px;
  transition: .3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}
.opcionesMoP div {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.horario{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  width: 100%;
  padding-bottom: 10px;
}
.fecha{
  width: 200px;
  height: 30px;
  border-color: #631878;
  border-radius: 20px;
}
#horario{
  width: 90px;
  height: 30px;
  border-color: #631878;
  border-radius: 20px;
}
.contenedorTiempo{
  box-shadow:   8px 8px rgba(117, 45, 102, 0.685);
  border: 1px solid #631878;
  border-radius: 20px;
  width: 450px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#minutos{
  width: 90px;
  height: 30px;
  border-color: #631878;
  border-radius: 20px;
}
.contenedorFecha{
  display: flex;
  flex-direction: column;
}
.contenedorHora{
display: flex;
flex-direction: column;
margin-left: 50px;
}
.horasselect{
  display: flex;
}
.contenedor-cliente{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding-bottom: 10px;
}

.cliente{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow:   8px 8px rgba(117, 45, 102, 0.685);
  border: 1px solid #631878;
  border-radius: 20px;
  width: 450px;
  height: 100px;
}
.datosDeLaCita{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.opcion-seleccionada {
  background-color: #631878 !important;
}
.opcionesMoP div.seleccionada {
  background-color: #631878 !important;
}
.fecha-seleccionada {
  background-color: #631878;
}
.pasos{
  display: flex;
  flex-direction: column;
}
.pasos div{
  font-size: 50px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: #631878;
  z-index: 1;
  position: relative;
  color: white;
  padding-top: 50px;
  justify-content: space-between;
}
.fa-solid{
  font-size: 50px;
  color: #af40ff;
  margin-right: 60px;
  height: 70px;
  width: 70px;
  border: 1px solid #631878;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorIcon{
display: flex;
justify-content: center;
}
.modal-contenedor{
  overflow-y: auto; 
  max-height: calc(80vh - 60px); 
}
.datosCita{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow:   8px 8px rgba(117, 45, 102, 0.685);
  border: 1px solid #631878;
  border-radius: 20px;
  width: 450px;
  height: 140px;
}
.lista{
  display: flex;
  justify-content: center;
}
.pago{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  box-shadow:   8px 8px rgba(117, 45, 102, 0.685);
  border: 1px solid #631878;
  border-radius: 20px;
  width: 450px;
  height: 140px;
}

.buttonPagar {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #631878;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(99, 24, 120, 0.5); /* sombra inicial */
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 20px rgba(99, 24, 120, 0.7); /* sombra más oscura y más larga */
  }
  50% {
    box-shadow: 0 0 40px rgba(99, 24, 120, 0.9); /* sombra aún más oscura y larga */
  }
  100% {
    box-shadow: 0 0 20px rgba(99, 24, 120, 0.7); /* sombra normal */
  }
}
