.contenedorPrincipal{
    position: relative;
    top: -400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    box-shadow:   8px 8px rgba(117, 45, 102, 0.685);
    border-radius: 20px;
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}