<app-header></app-header>

<div class="contenedorPrincipal">
  <button class="py-3 px-6 rounded-lg text-white"
          style="background-image: linear-gradient(135deg, rgb(217, 105, 255) 0%, rgb(190, 10, 255) 100%);"
          (click)="abrirModal()">
    Agregar Manicurista
  </button>
  <form class="form" (submit)="buscarManicuristas(); $event.preventDefault()" novalidate>
    <button class="btn" type="submit">
      <svg class="lupa" width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
        <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </button>
    <input class="input" placeholder="Buscar Manicurista" required="" type="text" [(ngModel)]="nombreABuscar" (input)="onSearchTermChange()" name="nombreABuscar">
    <button class="reset" type="reset">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </form>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>{{ editMode ? 'Editar Manicurista' : 'Agregar Manicurista' }}</h2>
      <span class="close" (click)="cerrarModal()">&times;</span>
    </div>
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="form-group">
        <div class="input-container">
          <input class="form__field" placeholder="Nombre" formControlName="nombre" type="text" required>
          <label class="form__label">Nombre</label>
          <div *ngIf="form.get('nombre')?.invalid && (form.get('nombre')?.dirty || form.get('nombre')?.touched)" class="error-message">
            <span *ngIf="form.get('nombre')?.errors?.['required']">El nombre es obligatorio</span>
          </div>
        </div>
        <div class="input-container">
          <input class="form__field" placeholder="Apellido" formControlName="apellido" type="text" required>
          <label class="form__label">Apellido</label>
          <div *ngIf="form.get('apellido')?.invalid && (form.get('apellido')?.dirty || form.get('apellido')?.touched)" class="error-message">
            <span *ngIf="form.get('apellido')?.errors?.['required']">El apellido es obligatorio</span>
          </div>
        </div>
      </div>

      <input type="hidden" formControlName="id_manicurista" />
      <div class="form-group">
        <div class="input-container">
          <input class="form__field" placeholder="Email Personal" formControlName="emailPersonal" type="email" required>
          <label class="form__label">Email Personal</label>
          <div *ngIf="form.get('emailPersonal')?.invalid && (form.get('emailPersonal')?.dirty || form.get('emailPersonal')?.touched)" class="error-message">
            <span *ngIf="form.get('emailPersonal')?.errors?.['required']">El apellido es obligatorio</span>
          </div>
        </div>
        <div class="input-container">
          <input class="form__field" placeholder="Email de la app" formControlName="emailApp" type="email" required>
          <label class="form__label">Email de la app</label>
          <div *ngIf="form.get('emailApp')?.invalid && (form.get('emailApp')?.dirty || form.get('emailApp')?.touched)" class="error-message">
            <span *ngIf="form.get('emailApp')?.errors?.['required']">El apellido es obligatorio</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-container">
          <input class="form__field" placeholder="Contraseña" formControlName="contrasenaApp" type="password" required>
          <label class="form__label">Contraseña</label>
          <div *ngIf="form.get('contrasenaApp')?.invalid && (form.get('contrasenaApp')?.dirty || form.get('contrasenaApp')?.touched)" class="error-message">
            <span *ngIf="form.get('contrasenaApp')?.errors?.['required']">El apellido es obligatorio</span>
          </div>
        </div>
        <div class="input-container">
          <input class="form__field" placeholder="Celular" formControlName="celular" type="text" required>
          <label class="form__label">Celular</label>
          <div *ngIf="form.get('celular')?.invalid && (form.get('celular')?.dirty || form.get('celular')?.touched)" class="error-message">
            <span *ngIf="form.get('celular')?.errors?.['required']">El apellido es obligatorio</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-container">
          <input class="form__field" placeholder="Dirección" formControlName="direccion" type="text">
          <label class="form__label">Dirección</label>
          <div *ngIf="form.get('direccion')?.invalid && (form.get('direccion')?.dirty || form.get('direccion')?.touched)" class="error-message">
            <span *ngIf="form.get('direccion') && form.get('direccion')?.errors?.['required']">La dirección es obligatoria</span>
          </div>
        </div>        
        
        <div class="input-container">
          <label class="form__label">Descripción:</label>
          <textarea class="form__field" formControlName="descripcion" rows="4"></textarea>
          <div *ngIf="form.get('descripcion')?.invalid && (form.get('descripcion')?.dirty || form.get('descripcion')?.touched)" class="error-message">
            <span *ngIf="form.get('descripcion')?.errors?.['required']">El apellido es obligatorio</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-container">
          <input type="file" (change)="onFileSelected($event)" id="fileInput" style="display: none" accept=".jpg,.jpeg,.png">
          <label for="fileInput" class="custom-file-upload">
            <i class="fas fa-cloud-upload-alt"></i> Seleccionar archivo
          </label>
          <p *ngIf="selectedFileName" class="selected-file-name">Archivo seleccionado: {{ selectedFileName }}</p> 
        </div>
      </div>
      <div class="button-container">
        <button class="btnn py-3 px-6 rounded-lg text-white"
                style="background-image: linear-gradient(135deg, rgb(217, 105, 255) 0%, rgb(190, 10, 255) 100%);"
                type="submit">{{ editMode ? 'Editar' : 'Agregar' }}
        </button>
      </div>
    </form>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Celular</th>
      <th>Dirección</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let manicurista of manicuristas">
      <td>{{ manicurista.nombre }}</td>
      <td>{{ manicurista.apellido }}</td>
      <td>{{ manicurista.emailPersonal }}</td>
      <td>{{ manicurista.celular }}</td>
      <td>{{ manicurista.direccion }}</td>
      <td>{{ manicurista.descripcion }}</td>
      <td>
        <button class="btn-editar" (click)="editarManicurista(manicurista)">Editar</button>
        <button class="btn-desactivar" (click)="eliminarManicurista(manicurista.id_manicurista)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
